In [1]:
import pandas as pd
from siuba import *

In [20]:
## Leemos el insumo
ames_housing = pd.read_csv("data/ames/ames.csv")

In [3]:
ames_housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 74 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MS_SubClass         2930 non-null   object
 1   MS_Zoning           2930 non-null   object
 2   Lot_Frontage        2930 non-null   int64
 3   Lot_Area            2930 non-null   int64
 4   Street              2930 non-null   object
 5   Alley               2930 non-null   object
 6   Lot_Shape           2930 non-null   object
 7   Land_Contour        2930 non-null   object
 8   Utilities           2930 non-null   object
 9   Lot_Config          2930 non-null   object
 10  Land_Slope          2930 non-null   object
 11  Neighborhood        2930 non-null   object
 12  Condition_1         2930 non-null   object
 13  Condition_2         2930 non-null   object
 14  Bldg_Type           2930 non-null   object
 15  House_Style         2930 non-null   object
 16  Overall_Cond        2930 non-null   object
 17  Year_Built          2930 non-null   int64
 18  Year_Remod_Add      2930 non-null   int64
 19  Roof_Style          2930 non-null   object
 20  Roof_Matl           2930 non-null   object
 21  Exterior_1st        2930 non-null   object
 22  Exterior_2nd        2930 non-null   object
 23  Mas_Vnr_Type        2930 non-null   object
 24  Mas_Vnr_Area        2930 non-null   int64
 25  Exter_Cond          2930 non-null   object
 26  Foundation          2930 non-null   object
 27  Bsmt_Cond           2930 non-null   object
 28  Bsmt_Exposure       2930 non-null   object
 29  BsmtFin_Type_1      2930 non-null   object
 30  BsmtFin_SF_1        2930 non-null   int64
 31  BsmtFin_Type_2      2930 non-null   object
 32  BsmtFin_SF_2        2930 non-null   int64
 33  Bsmt_Unf_SF         2930 non-null   int64
 34  Total_Bsmt_SF       2930 non-null   int64
 35  Heating             2930 non-null   object
 36  Heating_QC          2930 non-null   object
 37  Central_Air         2930 non-null   object
 38  Electrical          2930 non-null   object
 39  First_Flr_SF        2930 non-null   int64
 40  Second_Flr_SF       2930 non-null   int64
 41  Gr_Liv_Area         2930 non-null   int64
 42  Bsmt_Full_Bath      2930 non-null   int64
 43  Bsmt_Half_Bath      2930 non-null   int64
 44  Full_Bath           2930 non-null   int64
 45  Half_Bath           2930 non-null   int64
 46  Bedroom_AbvGr       2930 non-null   int64
 47  Kitchen_AbvGr       2930 non-null   int64
 48  TotRms_AbvGrd       2930 non-null   int64
 49  Functional          2930 non-null   object
 50  Fireplaces          2930 non-null   int64
 51  Garage_Type         2930 non-null   object
 52  Garage_Finish       2930 non-null   object
 53  Garage_Cars         2930 non-null   int64
 54  Garage_Area         2930 non-null   int64
 55  Garage_Cond         2930 non-null   object
 56  Paved_Drive         2930 non-null   object
 57  Wood_Deck_SF        2930 non-null   int64
 58  Open_Porch_SF       2930 non-null   int64
 59  Enclosed_Porch      2930 non-null   int64
 60  Three_season_porch  2930 non-null   int64
 61  Screen_Porch        2930 non-null   int64
 62  Pool_Area           2930 non-null   int64
 63  Pool_QC             2930 non-null   object
 64  Fence               2930 non-null   object
 65  Misc_Feature        2930 non-null   object
 66  Misc_Val            2930 non-null   int64
 67  Mo_Sold             2930 non-null   int64
 68  Year_Sold           2930 non-null   int64
 69  Sale_Type           2930 non-null   object
 70  Sale_Condition      2930 non-null   object
 71  Sale_Price          2930 non-null   int64
 72  Longitude           2930 non-null   float64
 73  Latitude            2930 non-null   float64
dtypes: float64(2), int64(32), object(40)
memory usage: 1.7+ MB

In [4]:
ames_housing.describe()

,Lot_Frontage,Lot_Area,Year_Built,Year_Remod_Add,Mas_Vnr_Area,BsmtFin_SF_1,BsmtFin_SF_2,Bsmt_Unf_SF,Total_Bsmt_SF,First_Flr_SF,...,Enclosed_Porch,Three_season_porch,Screen_Porch,Pool_Area,Misc_Val,Mo_Sold,Year_Sold,Sale_Price,Longitude,Latitude
count,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,57.647782,10147.921843,1971.356314,1984.266553,101.096928,4.177474,49.705461,559.071672,1051.255631,1159.557679,...,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068,-93.642897,42.034482
std,33.499441,7880.017759,30.245361,20.860286,178.634545,2.233372,169.142089,439.540571,440.968018,391.890885,...,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357,0.025700,0.018410
min,0.000000,1300.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,0.000000,334.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000,-93.693153,41.986498
25%,43.000000,7440.250000,1954.000000,1965.000000,0.000000,3.000000,0.000000,219.000000,793.000000,876.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000,-93.660217,42.022088
50%,63.000000,9436.500000,1973.000000,1993.000000,0.000000,3.000000,0.000000,465.500000,990.000000,1084.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000,-93.641806,42.034662
75%,78.000000,11555.250000,2001.000000,2004.000000,162.750000,7.000000,0.000000,801.750000,1301.500000,1384.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000,-93.622113,42.049853
max,313.000000,215245.000000,2010.000000,2010.000000,1600.000000,7.000000,1526.000000,2336.000000,6110.000000,5095.000000,...,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000,-93.577427,42.063388

## Selección de columnas

In [21]:
(
ames_housing >>
  select(_.Lot_Area, _.Neighborhood, _.Year_Sold, _.Sale_Price)
)

      Lot_Area Neighborhood  Year_Sold  Sale_Price
0        31770   North_Ames       2010      215000
1        11622   North_Ames       2010      105000
2        14267   North_Ames       2010      172000
3        11160   North_Ames       2010      244000
4        13830      Gilbert       2010      189900
...        ...          ...        ...         ...
2925      7937     Mitchell       2006      142500
2926      8885     Mitchell       2006      131000
2927     10441     Mitchell       2006      132000
2928     10010     Mitchell       2006      170000
2929      9627     Mitchell       2006      188000

[2930 rows x 4 columns]

In [22]:
## selecciona las columnas que contenga "Area", en cualquier lugar
(
 ames_housing >> 
  select(_.contains("Area"))
 )

      Lot_Area  Mas_Vnr_Area  Gr_Liv_Area  Garage_Area  Pool_Area
0        31770           112         1656          528          0
1        11622             0          896          730          0
2        14267           108         1329          312          0
3        11160             0         2110          522          0
4        13830             0         1629          482          0
...        ...           ...          ...          ...        ...
2925      7937             0         1003          588          0
2926      8885             0          902          484          0
2927     10441             0          970            0          0
2928     10010             0         1389          418          0
2929      9627            94         2000          650          0

[2930 rows x 5 columns]

In [23]:
## selecciona las columnas que termine con "Area"
(
 ames_housing >> 
 select(_.contains("Area$"))
)

      Lot_Area  Mas_Vnr_Area  Gr_Liv_Area  Garage_Area  Pool_Area
0        31770           112         1656          528          0
1        11622             0          896          730          0
2        14267           108         1329          312          0
3        11160             0         2110          522          0
4        13830             0         1629          482          0
...        ...           ...          ...          ...        ...
2925      7937             0         1003          588          0
2926      8885             0          902          484          0
2927     10441             0          970            0          0
2928     10010             0         1389          418          0
2929      9627            94         2000          650          0

[2930 rows x 5 columns]

In [24]:
## selecciona las columnas que comience con "Garage"
(
 ames_housing >> 
 select(_.contains("^Garage"))
)

     Garage_Type Garage_Finish  Garage_Cars  Garage_Area Garage_Cond
0         Attchd           Fin            2          528     Typical
1         Attchd           Unf            1          730     Typical
2         Attchd           Unf            1          312     Typical
3         Attchd           Fin            2          522     Typical
4         Attchd           Fin            2          482     Typical
...          ...           ...          ...          ...         ...
2925      Detchd           Unf            2          588     Typical
2926      Attchd           Unf            2          484     Typical
2927   No_Garage     No_Garage            0            0   No_Garage
2928      Attchd           RFn            2          418     Typical
2929      Attchd           Fin            3          650     Typical

[2930 rows x 5 columns]

## Filtrar observaciones

In [11]:
ames_housing['Sale_Condition'].value_counts()

Normal     2413
Partial     245
Abnorml     190
Family       46
Alloca       24
AdjLand      12
Name: Sale_Condition, dtype: int64

In [12]:
(
  ames_housing >> 
  filter(_.Sale_Condition == "Normal")
)

,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,Utilities,Lot_Config,...,Fence,Misc_Feature,Misc_Val,Mo_Sold,Year_Sold,Sale_Type,Sale_Condition,Sale_Price,Longitude,Latitude
0,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,141,31770,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Corner,...,No_Fence,None,0,5,2010,WD,Normal,215000,-93.619754,42.054035
1,One_Story_1946_and_Newer_All_Styles,Residential_High_Density,80,11622,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,Minimum_Privacy,None,0,6,2010,WD,Normal,105000,-93.619756,42.053014
2,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,81,14267,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Corner,...,No_Fence,Gar2,12500,6,2010,WD,Normal,172000,-93.619387,42.052659
3,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,93,11160,Pave,No_Alley_Access,Regular,Lvl,AllPub,Corner,...,No_Fence,None,0,4,2010,WD,Normal,244000,-93.617320,42.051245
4,Two_Story_1946_and_Newer,Residential_Low_Density,74,13830,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Inside,...,Minimum_Privacy,None,0,3,2010,WD,Normal,189900,-93.638933,42.060899
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,Split_or_Multilevel,Residential_Low_Density,37,7937,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,CulDSac,...,Good_Privacy,None,0,3,2006,WD,Normal,142500,-93.604776,41.988964
2926,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,0,8885,Pave,No_Alley_Access,Slightly_Irregular,Low,AllPub,Inside,...,Minimum_Privacy,None,0,6,2006,WD,Normal,131000,-93.602680,41.988314
2927,Split_Foyer,Residential_Low_Density,62,10441,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,Minimum_Privacy,Shed,700,7,2006,WD,Normal,132000,-93.606847,41.986510
2928,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,77,10010,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,No_Fence,None,0,4,2006,WD,Normal,170000,-93.600190,41.990921
2929,Two_Story_1946_and_Newer,Residential_Low_Density,74,9627,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,No_Fence,None,0,11,2006,WD,Normal,188000,-93.599996,41.989265

In [25]:
(
  ames_housing >> 
  filter( (_.Lot_Area > 1000) & (_.Sale_Price >= 150000) )
)

,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,Utilities,Lot_Config,...,Fence,Misc_Feature,Misc_Val,Mo_Sold,Year_Sold,Sale_Type,Sale_Condition,Sale_Price,Longitude,Latitude
0,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,141,31770,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Corner,...,No_Fence,None,0,5,2010,WD,Normal,215000,-93.619754,42.054035
2,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,81,14267,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Corner,...,No_Fence,Gar2,12500,6,2010,WD,Normal,172000,-93.619387,42.052659
3,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,93,11160,Pave,No_Alley_Access,Regular,Lvl,AllPub,Corner,...,No_Fence,None,0,4,2010,WD,Normal,244000,-93.617320,42.051245
4,Two_Story_1946_and_Newer,Residential_Low_Density,74,13830,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Inside,...,Minimum_Privacy,None,0,3,2010,WD,Normal,189900,-93.638933,42.060899
5,Two_Story_1946_and_Newer,Residential_Low_Density,78,9978,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Inside,...,No_Fence,None,0,6,2010,WD,Normal,195500,-93.638925,42.060779
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2921,Duplex_All_Styles_and_Ages,Residential_Low_Density,55,12640,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Inside,...,No_Fence,None,0,7,2006,WD,Normal,150900,-93.604475,41.990043
2922,Duplex_All_Styles_and_Ages,Residential_Low_Density,63,9297,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,No_Fence,None,0,7,2006,WD,Family,188000,-93.603534,41.990134
2923,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,80,17400,Pave,No_Alley_Access,Regular,Low,AllPub,Inside,...,No_Fence,None,0,5,2006,WD,Normal,160000,-93.608688,41.988737
2928,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,77,10010,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,No_Fence,None,0,4,2006,WD,Normal,170000,-93.600190,41.990921
2929,Two_Story_1946_and_Newer,Residential_Low_Density,74,9627,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,No_Fence,None,0,11,2006,WD,Normal,188000,-93.599996,41.989265

In [26]:
(
  ames_housing >> 
  filter((_.Lot_Area < 1000) | (_.Sale_Price <= 150000))
)

,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,Utilities,Lot_Config,...,Fence,Misc_Feature,Misc_Val,Mo_Sold,Year_Sold,Sale_Type,Sale_Condition,Sale_Price,Longitude,Latitude
1,One_Story_1946_and_Newer_All_Styles,Residential_High_Density,80,11622,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,Minimum_Privacy,None,0,6,2010,WD,Normal,105000,-93.619756,42.053014
18,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,140,19138,Pave,No_Alley_Access,Regular,Lvl,AllPub,Corner,...,No_Fence,None,0,6,2010,WD,Normal,141000,-93.622971,42.056673
23,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,0,11241,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,CulDSac,...,No_Fence,Shed,700,3,2010,WD,Normal,149000,-93.626231,42.055147
24,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,0,12537,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,CulDSac,...,No_Fence,None,0,4,2010,WD,Normal,149900,-93.626537,42.054592
25,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,65,8450,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,No_Fence,None,0,7,2010,WD,Normal,142000,-93.628806,42.055227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,Two_Story_PUD_1946_and_Newer,Residential_Medium_Density,21,1894,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,No_Fence,None,0,4,2006,WD,Abnorml,71000,-93.602345,41.991532
2924,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,160,20000,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,No_Fence,None,0,9,2006,WD,Abnorml,131000,-93.606842,41.987686
2925,Split_or_Multilevel,Residential_Low_Density,37,7937,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,CulDSac,...,Good_Privacy,None,0,3,2006,WD,Normal,142500,-93.604776,41.988964
2926,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,0,8885,Pave,No_Alley_Access,Slightly_Irregular,Low,AllPub,Inside,...,Minimum_Privacy,None,0,6,2006,WD,Normal,131000,-93.602680,41.988314
2927,Split_Foyer,Residential_Low_Density,62,10441,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,Minimum_Privacy,Shed,700,7,2006,WD,Normal,132000,-93.606847,41.986510

In [15]:
(
ames_housing >>
  filter( ((_.Street.isin(["Pave", "Grvl"]) ) & (_.Sale_Price < 10000000)) | (_.Lot_Area < 1000) )
)

,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,Utilities,Lot_Config,...,Fence,Misc_Feature,Misc_Val,Mo_Sold,Year_Sold,Sale_Type,Sale_Condition,Sale_Price,Longitude,Latitude
0,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,141,31770,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Corner,...,No_Fence,None,0,5,2010,WD,Normal,215000,-93.619754,42.054035
1,One_Story_1946_and_Newer_All_Styles,Residential_High_Density,80,11622,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,Minimum_Privacy,None,0,6,2010,WD,Normal,105000,-93.619756,42.053014
2,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,81,14267,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Corner,...,No_Fence,Gar2,12500,6,2010,WD,Normal,172000,-93.619387,42.052659
3,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,93,11160,Pave,No_Alley_Access,Regular,Lvl,AllPub,Corner,...,No_Fence,None,0,4,2010,WD,Normal,244000,-93.617320,42.051245
4,Two_Story_1946_and_Newer,Residential_Low_Density,74,13830,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,Inside,...,Minimum_Privacy,None,0,3,2010,WD,Normal,189900,-93.638933,42.060899
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,Split_or_Multilevel,Residential_Low_Density,37,7937,Pave,No_Alley_Access,Slightly_Irregular,Lvl,AllPub,CulDSac,...,Good_Privacy,None,0,3,2006,WD,Normal,142500,-93.604776,41.988964
2926,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,0,8885,Pave,No_Alley_Access,Slightly_Irregular,Low,AllPub,Inside,...,Minimum_Privacy,None,0,6,2006,WD,Normal,131000,-93.602680,41.988314
2927,Split_Foyer,Residential_Low_Density,62,10441,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,Minimum_Privacy,Shed,700,7,2006,WD,Normal,132000,-93.606847,41.986510
2928,One_Story_1946_and_Newer_All_Styles,Residential_Low_Density,77,10010,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,No_Fence,None,0,4,2006,WD,Normal,170000,-93.600190,41.990921
2929,Two_Story_1946_and_Newer,Residential_Low_Density,74,9627,Pave,No_Alley_Access,Regular,Lvl,AllPub,Inside,...,No_Fence,None,0,11,2006,WD,Normal,188000,-93.599996,41.989265

#### Ordenar registros ####

In [28]:
## ascendente
(
  ames_housing 
  >> arrange(_.Sale_Price)
  >> select(_.Sale_Price)

)

      Sale_Price
181        12789
1553       13100
726        34900
2843       35000
2880       35311
...          ...
44        611657
1063      615000
2445      625000
1760      745000
1767      755000

[2930 rows x 1 columns]

In [31]:
## Descendente
(
  ames_housing >> 
  arrange(-_.Sale_Price)
  >> select(_.Sale_Price)
)

      Sale_Price
1767      755000
1760      745000
2445      625000
1063      615000
44        611657
...          ...
2880       35311
2843       35000
726        34900
1553       13100
181        12789

[2930 rows x 1 columns]

In [32]:
(
ames_housing >> 
 arrange(_.Sale_Condition, -_.Sale_Price, _.Lot_Area) >>
 select(_.Sale_Condition, _.Sale_Price, _.Lot_Area)
)

     Sale_Condition  Sale_Price  Lot_Area
1760        Abnorml      745000     15623
456         Abnorml      552000     14836
1425        Abnorml      475000     11778
1058        Abnorml      390000     13418
1171        Abnorml      328900      5119
...             ...         ...       ...
2826        Partial      140000      3675
2472        Partial      132000     13072
1996        Partial      124500      3600
1299        Partial      115000      6000
712         Partial      113000      4456

[2930 rows x 3 columns]

#### Agregar o modificar columnas ####

In [36]:
## Se crea una nueva columna "Antique"
ejemplo_mutate = ( 
 ames_housing >> 
   select(_.Year_Sold, _.Year_Remod_Add) >>
   mutate(Antique = _.Year_Sold - _.Year_Remod_Add)
)
## se debe almacenar en la variable "ejemplo_mutate"

In [37]:
ejemplo_mutate

      Year_Sold  Year_Remod_Add  Antique
0          2010            1960       50
1          2010            1961       49
2          2010            1958       52
3          2010            1968       42
4          2010            1998       12
...         ...             ...      ...
2925       2006            1984       22
2926       2006            1983       23
2927       2006            1992       14
2928       2006            1975       31
2929       2006            1994       12

[2930 rows x 3 columns]

In [38]:
## modificamos la columna Antique, multiplicamos la antiguedad para tenerla en meses
(
ejemplo_mutate >> 
 mutate(Antique = _.Antique * 12)
)

      Year_Sold  Year_Remod_Add  Antique
0          2010            1960      600
1          2010            1961      588
2          2010            1958      624
3          2010            1968      504
4          2010            1998      144
...         ...             ...      ...
2925       2006            1984      264
2926       2006            1983      276
2927       2006            1992      168
2928       2006            1975      372
2929       2006            1994      144

[2930 rows x 3 columns]

#### Agregaciones ####

In [39]:
(
ames_housing >> 
 select(_.Year_Sold, _.Year_Remod_Add) >>
 mutate(Antique = _.Year_Sold - _.Year_Remod_Add) >>
 summarize(
  Mean_Antique = _.Antique.mean(),
  Median_Antique = _.Antique.median(),
  First_Antique = _.Antique.iloc[0],
  Last_Antique = _.Antique.iloc[-1],
  )
)
## summariza es una agregación quete permite calcular valores estadisticos

   Mean_Antique  Median_Antique  First_Antique  Last_Antique
0     23.523891            15.0             50            12

In [43]:
(
ames_housing >> 
 select(_.Year_Sold, _.Year_Remod_Add) >>
 mutate(Antique = _.Year_Sold - _.Year_Remod_Add) >>
 arrange(_.Antique) >>
 summarize(
  Mean_Antique = _.Antique.mean(),
  Median_Antique = _.Antique.median(),
  min_Antique = _.Antique.iloc[0],
  max_Antique = _.Antique.iloc[-1],
  )
)

   Mean_Antique  Median_Antique  min_Antique  max_Antique
0     23.523891            15.0           -2           60

#### Agrupamiento ####

In [49]:
(
ames_housing >> 
 mutate(Antique = _.Year_Sold - _.Year_Remod_Add) >> 
 group_by(_.Neighborhood) >> 
 summarize(Mean_Antique = _.Antique.mean().round(0) )
)

                               Neighborhood  Mean_Antique
0                       Bloomington_Heights           2.0
1                                   Blueste          25.0
2                                 Briardale          35.0
3                                 Brookside          39.0
4                               Clear_Creek          28.0
5                             College_Creek           8.0
6                                  Crawford          29.0
7                                   Edwards          33.0
8                                   Gilbert           9.0
9                               Green_Hills          14.0
10                                   Greens          26.0
11                   Iowa_DOT_and_Rail_Road          43.0
12                                 Landmark          12.0
13                           Meadow_Village          32.0
14                                 Mitchell          22.0
15                               North_Ames          37.0
16                          Northpark_Villa          32.0
17                               Northridge          11.0
18                       Northridge_Heights           2.0
19                           Northwest_Ames          28.0
20                                 Old_Town          34.0
21                                   Sawyer          32.0
22                              Sawyer_West          15.0
23                                 Somerset           3.0
24  South_and_West_of_Iowa_State_University          44.0
25                              Stone_Brook           8.0
26                               Timberland          11.0
27                                  Veenker          20.0

In [61]:
(
ames_housing >> 
 mutate(Antique = _.Year_Sold - _.Year_Remod_Add) >> 
 group_by(_.House_Style) >> 
 summarize(Mean_Sale_Price = _.Sale_Price.mean().round(0)) >>
 arrange(_.Mean_Sale_Price)
)

        House_Style  Mean_Sale_Price
2  One_and_Half_Unf         109663.0
1  One_and_Half_Fin         137530.0
3            SFoyer         143473.0
4              SLvl         165527.0
7  Two_and_Half_Unf         177158.0
0         One_Story         178700.0
5         Two_Story         206990.0
6  Two_and_Half_Fin         220000.0